# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/HELP.md
backend/src/main/resources/application-prod.properties
backend/.env
backend/.env.local
backend/.env.*.local

# Frontend
project/node_modules/
project/dist/
project/.env
project/.env.local
project/.env.production.local

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Databases
*.sql.backup
*.db
